body {
   text-align: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    color: rgb(49, 49, 49);
    font-size: 18px;
    
}


nav {
    background-color: black;
    padding: 6px 18px 6px 18px;
    margin-bottom: 16px;
}


nav li {
    display: inline;
    margin-right: 16px;
}

nav a, nav a:visited, nav a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

article {
   width: 1000px;
   margin: 16px auto 16px auto;
}

article li {
    text-align: left;
    margin-bottom: 8px;
}

article img {
    width: 100%;
    height: auto;
}


footer {
    text-align: center;
    font-size: 18px;
    margin-top: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
}

h2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

blockquote {
    font-style: italic;
    margin-left: 32px;
    margin-right: 32px;
}
